@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
	--open-sans: "Open Sans", sans-serif;
	--nunito-sans: "Nunito Sans", sans-serif;
	/*Подключение шрифтов*/
	--accent-light: #fbb731;
	--accent-dark: #f37335;
	--dark: #443737;
	--light: #ffffff;
	--light-rgb: 255, 255, 255;
	--line: #dedede;
	--dark-blue: #1e2f40;
	--tr: 0.4s;
	/*Подключение цветов*/
}
body {
	font-family: var(--open-sans);
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
.container {
	width: 100%;
	max-width: 1182px;
	margin: 0 auto;
	/* padding: 0 15px; */ /*убрал, что бы контент в баннере не съезжал*/
}
/*-- HEADER --*/
.header {
	border-bottom: 1px solid var(--line);
}
.header-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 196px;
	align-items: center;
	padding: 26px 0px;
}
.logo {
	display: block;
	background-image: url(../img/logo_burgos.svg);
	width: 176px;
	height: 56px;
	background-size: contain;
	background-repeat: no-repeat;
}
.header-nav {
	flex-grow: 1;
	display: flex;
	gap: 47px;
}
.header-nav__link {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: var(--dark);
}
.header-nav__link::after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: transparent;
	border-radius: 1.5px;
	transition: var(--tr);
}
.header-nav__link:hover::after {
	background-color: var(--accent-light);
}
.cart {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight: 700;
	font-size: 15px;
	color: var(--dark);
}
.cart::before {
	content: "";
	display: block;
	width: 30px;
	height: 26px;
	background-image: url(../img/shopping-cart.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
.cart-count {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--accent-dark);
	border-radius: 50%;
	width: 17px;
	height: 17px;
	color: var(--light);
	font-size: 10px;
	line-height: auto;
	left: 17px;
	bottom: 0;
}
/*-- HERO --*/
.hero {
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	padding: 142px 0px;
}
.hero-contact {
	position: relative;
	background: url(../img/contact/hero_contact.jpg);
}
.hero-contact::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	z-index: 1;
}
.hero-contact .container {
	position: relative;
	z-index: 2;
}
.breadcrumbs {
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(var(--light-rgb), 0.5);
	gap: 16px;
	font-size: 15px;
	padding: 0;
	margin: 0;
}
.breadcrumbs-item {
	position: relative;
}
.breadcrumbs-item:not(:last-child)::after {
	content: "/";
	position: absolute;
	right: -10px;
	color: rgba(var(--light-rgb), 0.5);
}
.breadcrumbs-link {
	color: rgba(var(--light-rgb), 0.5);
	transition: var(--tr);
}
.breadcrumbs-link:hover {
	color: var(--accent-light);
}
.hero-title {
	font-family: var(--nunito-sans);
	font-size: 79px;
	font-weight: 700;
	text-transform: capitalize;
	/* line-height: auto; */
	color: var(--light);
	margin: 19px 0px 18px 0px;
}
.hero-description {
	max-width: 320px;
	color: rgba(var(--light-rgb), 0.8);
	font-size: 15px;
	line-height: 160%;
	margin: 0px auto;
}
/*-- BANNER -- */

/* Мой код, старт*/
/* .banner {
	background-image: url(../img/banner_burger.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 140px auto 0px;
!- перенести в banner-wrapper всё, кроме margin: 140px auto 0px;
}
.banner-wrapper {
	padding: 100px;
}
	.banner-title {
	font-family: var(--nunito-sans);
	font-size: 60px;
	font-weight: 900;
	line-height: 4.75rem;
	color: var(--light);
	margin: 0px 0px 9px 0px;
}
.banner-title span {
	display: block;
	font-family: var(--open-sans);
	background-color: var(--accent-dark);
	max-width: 95px;
	padding: 5px 0px;
	border-radius: 14px;
	!text-transform: uppercase; - перенести в banner-title, т.к. это общий стиль с span
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.125rem;
	color: var(--light);
	margin: 0px 0px 3px 0px;
}
.banner-description {
	max-width: 329px;
	color: rgba(var(--light-rgb), 0.8);
	font-size: 15px;
	line-height: 1.5rem;
	margin: 0px 0px 16px 0px;
}
.banner-btn {
	border: none;
	border-radius: 5px;
	font-family: var(--nunito-sans);
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--accent-light);
	color: var(--dark);
	padding: 20px 26px;
	cursor: pointer;
} */
/* Мой код, конец*/
/* Код Анны Блок, начало*/
.banner {
	margin: 140px 140px 0px 140px;
}
.banner-wrapper {
	background-image: url(../img/banner_burger.png);
	/*! background-size: contain; -не правильно */
	background-size: cover;
	background-repeat: no-repeat;
	/*! background-position: center center; - не нужно */
	padding: 100px 100px 100px 101px;
}
.banner-title {
	color: var(--light);
	font-family: var(--nunito-sans);
	font-size: 60px;
	font-weight: 900;
	line-height: 126%; /*!4.75rem; = 76px*/
	text-transform: uppercase;
	margin: 0px 0px 9px 0px;
}
.banner-title span {
	display: block;
	max-width: 95px;
	color: var(--light);
	font-family: var(--open-sans);
	font-size: 14px;
	font-weight: 600;
	line-height: 128%; /*!1.125rem;=18px*/
	text-transform: uppercase;
	/*! text-transform: uppercase; - не там находится, но она зачем-то его здесь оставила*/
	text-align: center;
	background-color: var(--accent-dark);
	border-radius: 14px;
	padding: 5px 0px;
	margin: 0px 0px 3px 0px;
}
.banner-description {
	max-width: 328px;
	margin: 0px 0px 14px 0px;
	color: rgba(var(--light-rgb), 0.8);
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%; /*!1.5rem; 24px*/
}
.banner-btn {
	font-size: 14px;
	font-weight: 700;
	font-family: var(--nunito-sans);
	padding: 22px 25px;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--dark);
	background-color: var(--accent-light);
	border: none;
	border-radius: 5px;
	transition: var(--tr);
}
.banner-btn:hover {
	background-color: var(--accent-dark);
}
/*-- MAIN --*/
/* Мой код, старт*/
/* .main {
}
.burger-menu__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 100px 0px 34px 0px;
}
.burger-menu__title {
	font-family: var(--nunito-sans);
	font-size: 44px;
	font-weight: 700;
	line-height: 56px;
	text-transform: uppercase;
	color: var(--dark);
	margin: 0;
}

#burger-menu__select {
	font-family: var(--open-sans);
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	color: var(--dark);
	border-radius: 22px;
	border-color: #dedede;
	padding: 9px;
	appearance: none;
	background-image: url(../img/menu/chevron-down.svg);
	background-repeat: no-repeat;
	background-position: right 30px center;
}
.burger-menu__box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 30px 20px;
}
.burger-menu__item {
	font-family: var(--nunito-sans);
	text-align: center;
	color: var(--dark);
}
.burger-menu__thumb {
	width: 100%;
	height: 430px;
	position: relative;
	overflow: hidden;
}
.burger-menu__thumb-img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
	margin: 0px 0px 15px 0px;
}
.burger-menu__thumb-title {
	font-size: 30px;
	font-weight: 600;
	line-height: 38px;
	margin: 0;
}
.burger-menu__thumb-price {
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
	opacity: 0.5;
	margin: 5px;
}
.burger-menu__thumb-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.125rem;
	text-transform: uppercase;
	color: var(--dark);
	padding: 10px 35px;
	margin: 20px auto;
	border: none;
	border-radius: 5px;
	background-color: var(--accent-light);
	cursor: pointer;
}
.burger-menu__thumb-btn::before {
	content: "";
	display: block;
	width: 18px;
	height: 18px;
	background-image: url(../img/menu/cart.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
} */
/* Мой код, конец*/
/* Код Анны Блок, начало*/
.burger-menu__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 100px;
	margin-bottom: 34px;
}
.burger-menu__title {
	color: var(--dark);
	font-family: var(--nunito-sans);
	font-size: 44px;
	font-weight: 700;
	line-height: 127%;
	text-transform: uppercase;
	margin: 0;
}
.burger-menu__select {
	color: var(--dark);
	font-size: 15px;
	appearance: none;
	flex-basis: 279px;
	background-image: url(../img/menu/icon/chevron-down.svg);
	background-size: 14px 10px;
	background-repeat: no-repeat;
	background-position: 89% center;
	border: 1px solid var(--line);
	padding: 13px 30px;
	border-radius: 22px;
}
.burger-menu__box {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 50px 20px;
}
.burger-menu__item {
	font-family: var(--nunito-sans);
	text-align: center;
	color: var(--dark);
}
.burger-menu__thumb {
	width: 100%;
	height: 430px;
	position: relative;
	overflow: hidden;
	margin-bottom: 20px;
}
.burger-menu__thumb-img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}
.burger-menu__thumb-title {
	font-size: 30px;
	font-weight: 600;
	line-height: 126%;
	margin: 0px 0px 10px 0px;
}
.burger-menu__thumb-price {
	opacity: 0.5;
	font-size: 20px;
	font-weight: 700;
	margin: 0px 0px 20px 0px;
}
.burger-menu__thumb-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 0 auto;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 32px;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--dark);
	background-color: var(--accent-light);
	border: none;
	border-radius: 5px;
	transition: var(--tr);
}
.burger-menu__thumb-btn:hover {
	background-color: var(--accent-dark);
}
.burger-menu__thumb-btn::before {
	content: "";
	display: block;
	width: 18px;
	height: 18px;
	background-image: url(../img/menu/icon/cart.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
/*-- FOOTER --*/
.footer {
	color: var(--light);
	margin: 141px 0px 0px 0px;
	background-color: var(--dark-blue);
	padding: 115px;
}
.footer-wrapper {
	display: flex;
	justify-content: space-between;
}
.footer-logo {
	display: block;
	background-image: url(../img/logo_burgos_light.svg);
	width: 63px;
	height: 56px;
	background-size: contain;
	background-repeat: no-repeat;
}
.footer-item__link {
	margin: 0px 26px 0px 0px;
}
.footer-item__info {
	margin: 0px 7px 0px 0px;
}
.footer-title {
	font-family: var(--nunito-sans);
	font-size: 20px;
	line-height: 190%;
	font-weight: 800;
	text-transform: uppercase;
	margin: -3px 0px 10px 0px;
}
.footer-nav {
	display: flex;
	flex-direction: column;
	gap: 9px;
}
.footer-nav__link {
	color: rgba(var(--light-rgb), 0.9);
	font-size: 15px;
	line-height: 160%;
	transition: var(--tr);
}
.footer-nav__link:hover {
	color: var(--accent-light);
}
.footer-list {
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}
.footer-list__item {
	font-size: 15px;
	font-weight: 700;
	line-height: 160%;
}
.footer-list__item span {
	display: block;
	font-weight: 400;
	color: rgba(var(--light-rgb), 0.9);
}
.footer-list__item:not(:last-child) {
	margin: 0px 0px 15px 0px;
}
.footer-list li {
	margin-bottom: 12px;
}
.footer-tel {
	display: block;
	color: var(--accent-light);
	font-family: var(--nunito-sans);
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	margin: 7px 5px 15px 0px;
	transition: var(--tr);
}
.footer-tel:hover {
	color: var(--accent-dark);
}
/*-- CONTACT PAGE --*/
.contact-main {
	display: flex;
	align-items: center;
	gap: 25px;
	max-width: 1057px;
	margin: 140px 0px 54px 53px;
}
.contact-map {
	flex-basis: 680px;
}
.contact-adress {
	flex-basis: calc(100% - 680px - 20px);
	display: flex;
	flex-direction: column;
	padding: 0;
}
.contact-adress > li:not(:last-child) {
	margin: 0px 0px 26px 0px;
}
.contact-adress > li > span {
	display: block;
	font-size: 15px;
	font-weight: 400;
	line-height: 160%;
}
.contact-adress > li > span:first-child {
	font-family: var(--nunito-sans);
	font-size: 20px;
	font-weight: 700;
	line-height: 190%;
	text-transform: uppercase;
	margin: 0px 0px 4px 3px;
}
.contact-adress > li > span:last-child {
	font-weight: 700;
	margin: 10px 0px 0px 0px;
}
.contact-additionally {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	max-width: 1057px;
	padding: 0px 0px 0px 0px;
	margin: 0 auto;
}
.contact-additionally > li {
	display: flex;
	align-items: center;
	font-size: 15px;
	gap: 15px;
}
.contact-additionally > li:nth-child(1)::before {
	background-image: url(../img/contact/time_contact.svg);
}
.contact-additionally > li:nth-child(2)::before {
	background-image: url(../img/contact/phone_contact.svg);
}
.contact-additionally > li:nth-child(3)::before {
	background-image: url(../img/contact/place_contact.svg);
}
.contact-additionally > li:before {
	content: "";
	display: block;
	width: 80px;
	height: 80px;
	background-size: cover;
	background-repeat: no-repeat;
}
.contact-info,
.contact-tel {
	display: block;
	font-family: var(--nunito-sans);
	color: var(--dark);
	font-size: 20px;
	font-weight: 700;
	line-height: 140%;
	margin: 5px 0px 0px 0px;
}
.contact-tel {
	transition: var(--tr);
}
.contact-tel:hover {
	color: var(--accent-dark);
}
