@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
	--open-sans: "Open Sans", sans-serif;
	--nunito-sans: "Nunito Sans", sans-serif;
	/*Подключение шрифтов*/
	--accent-light: #fbb731;
	--accent-dark: #f37335;
	--dark: #443737;
	--light: #ffffff;
	--light-rgb: 255, 255, 255;
	/*Подключение цветов*/
}
body {
	font-family: var(--open-sans);
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
.container {
	width: 100%;
	max-width: 1182px;
	margin: 0 auto;
	/* padding: 0 15px; */ /*убрал, что бы контент в баннере не съезжал*/
}
/* Header */
.header {
	border-bottom: 1px solid #dedede;
}
.header-wrapper {
	display: flex;
	justify-content: space-between;
	gap: 196px;
	align-items: center;
	padding: 26px 0px;
}
.logo {
	display: block;
	background-image: url(../img/logo_burgos.svg);
	width: 176px;
	height: 56px;
	background-size: contain;
	background-repeat: no-repeat;
}
.header-nav {
	flex-grow: 1;
	display: flex;
	gap: 47px;
}
.header-nav__link {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: var(--dark);
}
.header-nav__link::after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: transparent;
	border-radius: 1.5px;
	/* transition: width 0.3s ease-in-out; */
}
.header-nav__link:hover::after {
	background-color: var(--accent-light);
}
.cart {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight: 700;
	font-size: 15px;
	color: var(--dark);
}
.cart::before {
	content: "";
	display: block;
	width: 30px;
	height: 26px;
	background-image: url(../img/shopping-cart.svg);
	background-size: contain;
	background-repeat: no-repeat;
}
.cart-count {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--accent-dark);
	border-radius: 50%;
	width: 17px;
	height: 17px;
	color: var(--light);
	font-size: 10px;
	line-height: auto;
	left: 17px;
	bottom: 0;
}
/* Hero */
.hero {
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	padding: 142px 0px;
}
.breadcrumbs {
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(var(--light-rgb), 0.5);
	gap: 16px;
	font-size: 15px;
	padding: 0;
	margin: 0;
}
.breadcrumbs-item {
	position: relative;
}
.breadcrumbs-item:not(:last-child)::after {
	content: "/";
	position: absolute;
	right: -10px;
	color: rgba(var(--light-rgb), 0.5);
}
.breadcrumbs-link {
	color: rgba(var(--light-rgb), 0.5);
}
.breadcrumbs-link:hover {
	color: var(--accent-light);
}
.hero-title {
	font-family: var(--nunito-sans);
	font-size: 79px;
	font-weight: 700;
	text-transform: capitalize;
	/* line-height: auto; */
	color: var(--light);
	margin: 19px 0px 18px 0px;
}
.hero-description {
	max-width: 320px;
	color: rgba(var(--light-rgb), 0.8);
	font-size: 15px;
	line-height: 160%;
	margin: 0px auto;
}
/* Banner */
.banner {
	background-image: url(../img/banner_burger.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	/* max-width: 1182px; */
	margin: 140px auto 0px;
}
.banner-wrapper {
	/* background-color: rgb(246, 187, 187); */
	padding: 100px;
}
.banner-title span {
	display: block;
	font-family: var(--open-sans);
	background-color: var(--accent-dark);
	max-width: 95px;
	padding: 5px 0px;
	border-radius: 14px;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.125rem;
	color: var(--light);
	margin: 0px 0px 3px 0px;
}
.banner-title {
	font-family: var(--nunito-sans);
	font-size: 60px;
	font-weight: 900;
	line-height: 4.75rem;
	color: var(--light);
	margin: 0px 0px 9px 0px;
}

.banner-description {
	max-width: 329px;
	color: rgba(var(--light-rgb), 0.8);
	font-size: 15px;
	line-height: 1.5rem;
	margin: 0px 0px 16px 0px;
}
.banner-btn {
	border: none;
	border-radius: 5px;
	font-family: var(--nunito-sans);
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--accent-light);
	color: var(--dark);
	padding: 20px 26px;
	cursor: pointer;
}
