@media (max-width: 1080px) {
	.container {
		padding: 0px 15px;
	}
	.logo {
		width: 200px;
		height: 63px;
	}
	.header-wrapper {
		gap: 40px;
	}
	.header-nav {
		margin-left: 0px;
		gap: min(3vw, 30px);
	}
}
@media (width <= 819px) {
	.logo {
		width: 150px;
		height: 47.81px;
	}
	.header-wrapper {
		gap: 45px;
	}
	.header-nav {
		gap: 22px;
	}
	.banner {
		margin: 72px 0px 0px 0px;
	}
	.banner-wrapper {
		padding: 100px 40px;
	}
	.burger-menu__header {
		margin: 80px 0px 34px 0px;
	}
	.burger-menu__box {
		grid-template-columns: repeat(2, 1fr);
		gap: 50px 20px;
	}
	.burger-menu__box._additionally {
		grid-template-columns: 1fr;
		gap: 50px 20px;
	}
	.burger-menu__item._additionally {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	.burger-menu__thumb {
		flex-basis: calc(60% - 20px);
		height: 430px;
		margin-bottom: 0;
	}
	.burger-menu__item._additionally .burger-menu__thumb {
		flex-basis: calc(60% - 20px);
		height: 260px;
		margin-bottom: 0;
	}
	.burger-menu__item._additionally .burger-menu__info {
		flex-basis: 40%;
	}
	.footer-nav {
		margin: 0px 0px 20px 0px;
	}
	.footer-item:last-child {
		display: none;
	}
	.footer-tel._mobile {
		display: block;
		text-align: left;
	}
}
