@media (max-width: 1080px) {
	.container {
		padding: 0px 15px;
	}
	.logo {
		width: 200px;
		height: 63px;
	}
	.header-wrapper {
		gap: 40px;
	}
	.header-nav {
		margin-left: 0px;
		gap: min(3vw, 30px);
	}
}
@media (width <= 819px) {
	.logo {
		width: 150px;
		height: 47.81px;
	}
	.header-wrapper {
		gap: 45px;
	}
	.header-nav {
		gap: 22px;
	}
	.hero {
		padding: 144px 0px;
	}
	.breadcrumbs {
		padding-left: 15px;
	}
	.hero-title {
		padding-left: 15px;
	}
	.hero-description {
		padding-left: 15px;
	}
	.banner {
		margin: 72px 0px 0px 0px;
	}
	.banner-wrapper {
		padding: 100px 40px;
	}
	.burger-menu__header {
		margin: 80px 0px 34px 0px;
	}
	.burger-menu__header._additionally {
		margin: 89px 0px 33px 0px;
	}
	.burger-menu__box {
		grid-template-columns: repeat(2, 1fr);
		gap: 50px 20px;
	}
	.burger-menu__box._additionally {
		grid-template-columns: 1fr;
		gap: 50px 20px;
	}
	.burger-menu__item._additionally {
		display: flex;
		align-items: center;
		gap: 20px;
	}
	.burger-menu__thumb {
		flex-basis: calc(60% - 20px);
		height: 430px;
		margin-bottom: 20px;
	}
	.burger-menu__item._additionally .burger-menu__thumb {
		flex-basis: calc(65% - 20px);
		height: 260px;
		margin-bottom: 0;
	}
	.burger-menu__thumb-title {
		margin-bottom: 7px;
	}
	.burger-menu__item._additionally .burger-menu__thumb-title {
		margin-bottom: 5px;
	}
	.burger-menu__thumb-price {
		margin-bottom: 23px;
	}
	.burger-menu__item._additionally .burger-menu__thumb-price {
		margin-bottom: 20px;
	}
	.burger-menu__item._additionally .burger-menu__info {
		flex-basis: 38%;
	}
	.footer {
		padding: 62px 0px 71px 0px;
	}
	.footer-nav {
		margin: 0px 0px 20px 0px;
	}
	.footer-item:last-child {
		display: none;
	}
	.footer-tel._mobile {
		display: block;
		text-align: left;
	}
}
@media (width <= 730px) {
	.burger-menu__modal {
		display: block;
	}
	.logo {
		width: 116px;
		height: 37px;
		flex-grow: 1;
	}
	.header-wrapper {
		justify-content: start;
		gap: 21px;
		padding: 20px 0px;
	}
	.header-nav {
		display: none;
	}
	.header-nav._modal {
		display: flex;
		flex-direction: column;
	}
	.header-nav__link::after {
		display: none;
	}
	.modal {
		display: block;
		width: 100%;
		max-width: 500px;
		background-color: #fff8dc;
		padding: 40px 15px;
		position: absolute;
		top: -400px;
		left: 0;
		right: 0;
		box-sizing: border-box;
		margin: 0 auto;
		text-align: center;
		transition: var(--tr);
	}
	.modal-close {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		width: 22px;
		height: 22px;
		background-image: url(../img/burger-menu__modal-close.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-color: transparent;
		border: none;
	}
	.banner-wrapper {
		padding: 35px 86px 34px 17px;
	}
	.hero {
		padding: 55px 32px;
	}
	.breadcrumbs {
		font-size: 14px;
		color: var(--line);
		padding: 1px 0px;
		gap: 12px;
	}
	.breadcrumbs-link {
		color: var(--line);
	}
	.hero-title {
		font-size: 38px;
		padding: 0px;
		margin: 28px 0px 10px 0px;
	}
	.hero-description {
		font-size: 12px;
		line-height: 1.67;
		padding: 0px;
	}
	.banner {
		margin: 33px 0px 0px 0px;
	}
	.banner-title {
		span {
			margin: 0px 0px 5px 0px;
		}
	}
	.banner-description {
		font-size: 14px;
		margin: 0px 0px 18px 0px;
	}
	.banner-btn {
		max-width: 197px;
	}
	.burger-menu__header {
		gap: 54px;
		margin: 50px 0px 24px 0px;
	}
	.burger-menu__header._additionally {
		margin: 50px 0px 24px 0px;
	}
	.burger-menu__select {
		font-size: 12px;
		line-height: 1.92;
		flex-basis: 136px;
		width: 136px;
		background-size: 13px 8px;
		background-position: 90% center;
		padding: 8px 0 8px 15px;
	}
	.burger-menu__title {
		font-size: 27px;
		line-height: 2.074;
	}
	.burger-menu__box {
		gap: 24px 20px;
	}
	.burger-menu__box._additionally {
		gap: 24px 20px;
	}
	.burger-menu__thumb {
		height: 50vw;
		margin-bottom: 7px;
	}
	.burger-menu__item._additionally .burger-menu__thumb {
		height: 30vw;
		margin-bottom: 0;
	}
	.burger-menu__thumb-title {
		font-size: 13px;
		line-height: 1.54;
		font-weight: 700;
		margin: 0;
	}
	.burger-menu__item._additionally .burger-menu__thumb-title {
		margin: 0;
	}
	.burger-menu__thumb-price {
		font-size: 12px;
		line-height: 2.33;
		margin-bottom: 7px;
	}
	.burger-menu__thumb-btn {
		gap: 8px;
		line-height: 1.28;
		padding: 10px 22px;
	}
	.burger-menu__item._additionally .burger-menu__thumb-price {
		font-size: 12px;
		line-height: 2.33;
		margin-bottom: 7px;
	}
	.footer {
		margin: 80px 0px 0px 0px;
		/* padding: 61px 0px 61px 0px; */
	}
	.footer-wrapper {
		position: relative;
		flex-direction: column;
		gap: 35px;
	}
	.footer-logo {
		margin: 0px 0px 9px 0px;
	}
	.footer-item__link,
	.footer-item__info {
		margin: 0;
	}
	.footer-tel._mobile {
		position: absolute;
		top: -10px;
		right: 0px;
	}
	.footer-tel._mobile + .footer-tel._mobile {
		top: 29px;
	}
	.footer-title {
		font-size: 18px;
		line-height: 2.11;
		margin: 0;
	}
	.footer-nav {
		margin: 11px 0px 0px 0px;
	}
	.footer-list {
		margin: 14px 0px 0px 0px;
	}
}

@media (width <= 500px) {
	.burger-menu__item._additionally .burger-menu__thumb {
		flex-basis: calc(100% - 130px - 20px);
		height: 40vw;
		margin-bottom: 0;
	}
	.burger-menu__item._additionally .burger-menu__info {
		flex-basis: 130px;
	}
}
